<div style="margin-top: 20px;">
  <img src="http://hivetechhr.com/wp-content/uploads/2014/02/Taleo.png" width=200>
  DEMO
</div>
<div style="margin-top: 100px; text-align:center">
  <p class="lead">Connect your account with Checkr.</p>
  <p>In order to run background-checks on your applicants automatically.</p>

  <p>
    <a class="btn btn-lg btn-primary"
      href="<%= CHECKR_AUTHORIZE_URL %>/<%= CHECKR_CLIENT_ID %>?redirect_uri=<%= CHECKR_REDIRECT_URL %>"
      role="button">
      Connect with Checkr
    </a>
  </p>
</div>
