<div style="margin-top: 20px;">
  <img src="http://hivetechhr.com/wp-content/uploads/2014/02/Taleo.png" width=200>
  DEMO
</div>
<div style="margin-top: 50px; text-align:center">
  <h1>Reports</h1>
  <ul>
  <% reports.each do |report| %>
    <li><%= report.id %></li>
  <% end %>
  </ul>
</div>
